<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        {% block namber_task %}
        <p><h4><a>MODULE_19 задание 3</a></h4></p>
        {% endblock %}
    </header>
    <header>
        {% block page_name %}
        <h1>Название страницы</h1>
        {% endblock %}
    </header>
    <nav>
        {% block menu %}
        <h2>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/shop/">Магазин</a></li>
            <li><a href="/shopping_cart/">Корзина</a></li>
            <li><a href="/registration/">Регистрация</a></li>
        </ul>
        </h2>
        {% endblock %}
    </nav>
    <main>
        {% block content %}
        <p>Содержание страницы</p>
        {% endblock %}
    </main>
    <footer>
        {% block come_back %}
    <br><br><br><br>
    <h4>
       <p><h4><a href="/" ><h4>Вернуться на главную</h4></a></h4></p>
    </h4>
        {% endblock %}
    </footer>
</body>
</html>