{% extends "fourth_task/menu.html" %}

{% block namber_task %}
    {{ block.super }}
{% endblock %}

{% block page_name %}
<h1>Игры</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
<h1>
    <ul>
        {% for i in game %}
            <li>{{ i }}      <button>Приобрести</button></li>
        {% endfor %}
    </ul>
</h1>
<p><a href="/home_page1"><button><h5>Вернуться обратно</h5></button></a></p>
{% endblock %}

{% block come_back %}
    {{ block.super }}
{% endblock %}