<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Это главная страница</title>
</head>
<body>
    <h1>
        Это главная страница
    </h1>
    <h3>
        <a href="/home_page/"><button><h3>MODULE_18 задание 3</h3></button></a>
    </h3>
    <br><br><br>
    <h3>
        <a href="/home_page1/"><button><h3>MODULE_18 задание 4</h3></button></a>
    </h3>
    <br><br><br>
    <h3>
        <a href="/home_page2/"><button><h3>MODULE_18 задание 5</h3></button></a>
    </h3>
</body>
</html>